.btn {
  background-color: #DCC18A; 
  border: none;
  color:#808080;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  font-weight: bold;
  border-radius: 20px;
}
.titre{
    color: #808080;
    font-family: 'Inter'; 
}
body {
  background-image: linear-gradient(to right,#FFFFFF,#808080) ;
  opacity:inherit;
}
main{
margin: auto;
display: block;
background: rgba( 238, 207, 207, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.logo{
  background-color: #DCC18A; 
  border: none;
  color:#808080;
  padding: 6px 80px;

  text-decoration: none;
  
  font-weight: bold;
  border-radius: 20px;
  margin-top: 5px;
}
.form-control{
  border-radius: 10px;
border-color: #DCC18A;
}
#menu .items li{
  list-style: none;
  padding: 15px 0;
  color: #808080;
}

#menu .items li i{
  font-size: large;
}
a{
  text-decoration: none;
  color: #808080;
}
a:hover{
  color:whitesmoke;
}

/*
.icon{
  size: 48px;
} */

.logonav{
  height: 100vh;
}

